@import url('../global/style.css');

.todo{
    width: 50%;
    height: 15%;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10px;
}
