* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mensagens {
    width: 100vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.campos {
    width: 100vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

input {
    margin: 1px;
    width: 250px;
    height: 40px;
}

button {
    margin: 1px;
    width: 50px;
    height: 40px;
    background-image: url(/add.png)
}