/* css para o site todo*/

.header{
    width: 100%;
    margin-top: 15px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}


button, #button  {
    cursor: pointer;
}
#button {
    cursor: pointer;
}

